body {
  padding: 2rem;
  text-align: center;
}

.title {
  margin-top: 40px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.container {
  margin: 0 auto;
  max-width: 840px;
  padding: 2rem;
}

.hidden {
  display: none !important;
}

.gifs {
  margin-bottom: 1.5rem;
}

.columns {
  align-items: flex-start;
}

.img {
  width: 33.33%;
  height: 300px;
}
